<section class="projects-section" data-controller="show-more-cards">
  <h1>Projects</h1>
  <div class="projects-grid" data-show-more-cards-target="grid">
    <% all_projects = @projects %>
    <% number_of_cards_to_show = 3 %>
    <% number_of_projects = all_projects.count %>
    <% number_of_empty_cards = number_of_cards_to_show - (number_of_projects % number_of_cards_to_show) %>
    <% number_of_empty_cards = number_of_empty_cards == 3 ? 0 : number_of_empty_cards %>

    <% all_projects.each do |project| %>
      <div class="project-card">
        <% if project.image_url.present? %>
          <%= image_tag project.image_url, alt: project.title, class: "project-image" %>
        <% end %>
        <h3><%= project.title %></h3>
        <p><%= project.description %></p>
        <div class="project-links">
          <% if project.github_url.present? %>
            <%= link_to "GitHub", project.github_url, target: "_blank", class: "project-link-button" %>
          <% end %>
          <% if project.live_url.present? %>
            <%= link_to "Site", project.live_url, target: "_blank", class: "project-link-button" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% number_of_empty_cards.times do %>
      <div class="project-card coming-soon">
        <span>SHORTLY</span>
      </div>
    <% end %>

  </div>

  <div class="buttons-container">
    <button class="button-more" data-action="click->show-more-cards#showMore" data-show-more-cards-target="moreButton">See more</button>
    <button class="button-minimize" data-action="click->show-more-cards#showLess" data-show-more-cards-target="minimizeButton" style="display:none;">See less</button>
  </div>
</section>