<!DOCTYPE html>
<html>
  <head>
    <title>Livan Passos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>

     <nav class="navbar">
  <div class="navbar-brand">
    <div class="logo">
      <div class="logo-circle ruby-color">R</div>
      <div class="logo-circle css-color">CSS</div>
      <div class="logo-circle js-color">JS</div>
    </div>
  </div>

  <button class="hamburger-menu" aria-label="Toggle navigation">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="navbar-links" id="navbarLinks">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About Me", sobre_mim_path %></li>
      <li><%= link_to "Projects", projetos_path %></li>
      <li><%= link_to "Skills", habilidades_path %></li>
       <li><%= link_to "Achievements", achievements_path %></li>
      <li><%= link_to "Contact", contato_path %></li>
    </ul>
  </div>
</nav>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> Livan Passos. All rights reserved.</p>
      <p>Contact e-mail: livansena@gmail.com</p>
    </footer>
  </body>
</html>